p{
    color: red !important;/*DEFINE O QUÃO IMPORTANTE É ESTE ESTILO (UTILIZADO EM CASOS ESPECIFICOS)*/
}
/*NO CASO DE DUAS FORMATAÇÕES PARA SELETORES IGUAIS, SEMPRE O ÚLTIMO 
SERÁ LEVADO EM CONTA*/
p{
    color: blue;
}

/*SE UM SELETOR FOR MAIS ESPECIFICO QUE OUTRO A REGRA MAIS ESPECÍFICA
SERÁ APLICADA(TERÁ PRECEDENCIA SOBRE REGRAS MAIS GERAIS)*/


*{
    color: red;
}
/*O SELETOR UNIVERSAL (*) ESTÁ FORMATADO PARA COLOCAR A COR VERMELHA EM TUDO
PORÉM, H2 TERÁ FORMATAÇÃO DIFERENTE POIS TEM A PREFERENCIA POR SER MAIS ESPECÍFICO DO QUE 
O SELETOR UNIVERSAL*/
h2{
    color: blue;
}
/*NESTE CASO A CLASSE TERÁ A PREFERÊNCIA POR SER MAIS ESPECIFICO DO QUE A TAG*/
h2.verde{
    color: green;
}
/*A PREFERENCIA SERÁ DO ID*/
h2#amarelo{
    color: yellow;
}


/*EM ORDEM DE PREFERENCIA:
1 = ID
2 = CLASSE
3 = A PRÓPRIA TAG
4 = SELETOR UNIVERSAL
*/