body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header{
    height: 300px;
    border: solid 1px red;
    background: #294c71 url(imagens/fundo.png) bottom repeat-x;
}

nav{
    height: 200px;
    margin: 0 auto;
    width: 600px;
    border: 1px solid red;
}