body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    
}


.clear{
    clear: both;
}

header{
    height: 300px;
    border: solid 1px red;
    background: #294c71 url(imagens/fundo.png) bottom repeat-x;
}

nav{
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    height: 200px;
    margin: 0 auto;
    width: 600px;
    border: 1px solid red;
}

/*
1200/3= 400
400 - 30 = 370
*/

.title{
    margin: 5px 0;
    
    background: #294c71;
    width: 370px;
    color: white;
}

#conteudo_principal{
    margin: 0 auto;
    width: 1200px;
    height: auto;
    
}

#entrevistas{
    width: 370px;
    height: 510px;
    margin-right: 15px;
    float: left;
    background: url(imagens/fundo-caixa.png);
}

.boxes{
    float: left;
    margin: 0px 15px;
    width: 370px;
    height: 500px;
    background: url(imagens/fundo-caixa.png);

}


.img_conteudo{
    padding-left: 10px;
    width: 330px;
}

.leia{
    color: red;

}

.news{
  float: left;
  margin-right: 15px;
}

.legenda,.leia{
    background-color: white;
}

#lista{
    list-style: none;
}

li{
    font-size: 23px;
    padding: 12px;
    
}

.news_box{
   
    background: url(imagens/fundo-caixa.png);
}

label{
    display: block;
}

input{
    margin: 0 0 10px 0;
    display: block;
    height: 30px;
}

#cadastrar{
    color: white;
    background-color: rgba(245, 32, 32, 0.911);
    border-radius: 5px;
    cursor: pointer;
}

.white{
    margin: 0 auto;
    background-color: white;
    width: 350px;
    height: 400px;
}

#img_topo{
   
}

#logo{
    
}


