/****************************UNIVERSAL**************************************/
*{
    margin: 0;
    padding: 0;
}
/****************************RETIRAR FLOAT***********************************************/
.clear{
    clear: both;
}
/*****************************FORMATAÇÃO DA PÁGINA**********************************************/
.barra_navegacao{
    background-color: #f8fc14;
    height: 80px;
}
#lista_horizontal{
    background-color: red;
    float: left;
    width: 100%;
}
#logo{
    float: left;
    background-color: yellow;
    width: 150px;
    height: 50px;
}

.pagina_principal{
    background-color: #f8f9fa;
    width: 1650px;
    height: 1000px;
    margin: 0 auto;
}






/*******************************FORMATAÇÃO DOS ELEMENTOS****************************************/
.link{
    display: block;
    background-color: rgb(0, 255, 0);
    text-decoration: none;
    padding: 0 30px;
    float: left;
    font-size: 25px;
    margin-top: 20px;

}

.login{
    /*Icone no botão de Login*/
    background: url(Arquivos/icon_button_white.png) no-repeat;
    border: white 3px solid;
    border-radius: 5px;
    text-decoration: underline;
    line-height: 1em;
    background-color: #1484fc;
    height: 40px;
    width: 120px;
    margin-left: 1400px;
    color: white;
    font-size: 20px;
    margin
    
}
.login a{
    color: white;
}
